[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/gmx-synthetics"]
	path = lib/gmx-synthetics
	url = https://github.com/gmx-io/gmx-synthetics
